{extend name="public:index" /} {block name="main"}
<!--banner-->
<div class="banner">
	<div class="list-container" style="margin-top: 10px">
		<div class="">
			<img src="/static/img/banner.jpg" alt="" width="100%">
		</div>
	</div>


</div>

<div class="book-list">
	<!--重磅封推-->
	<div class="list-container clearfix">
		<div class="TITLE">
			<a>
				<span>
					重磅封推
				</span>
			</a>
		</div>
		<div class="book-penl mt20">
			{foreach $mark.home_super->bookGet(10) as $book}
			<div class="ri-list">
				<a href="{:url('HomeBookShow',['id'=>$book->id])}">
					<div class="img-box">
						<img src="{:imagePath(['table'=>'book','category'=>'cover'] , $book->cover)}" alt="" width="100%" height="100%">
						<div class="ti">{$book->user->pen_name}</div>
					</div>
					<div class="introduce">
						<div class="title">
							{$book->title}
						</div>
						<div class="author clearfix">
							{php} foreach(model('TagRelation')->getRelationTag($book->id,3) as $tag){ echo "
							<span>$tag->name</span>"; } {/php}
						</div>
					</div>
				</a>


			</div>
			{/foreach}
		</div>
		<div class="recommend  mt20">
			<div class="title clearfix">
				红文榜
			</div>
			<ul class="recommendCon week nodis">
				{foreach $mark.home_list_seething->bookGet(10) as $key=>$book} {if condition="$key == 0"}
				<li class="text-overflow clearfix">
					<a href="{:url('HomeBookShow',['id'=>$book->id])}" target="_blank">
						<span class="fl">{$key+1}</span>
						<div class="scal oh clearfix bookShadow fl" style="width: 48px; height: 64px;">
							<img class="fl" src="{:imagePath(['table'=>'book','category'=>'cover'] , $book->cover)}">
						</div>
						<div class="fl bookContent">
							<div class="bookName text-overflow">{$book->title}</div>
							<div class="bookType text-overflow">{$book->category->title}</div>
							<div class="bookAuthor clearfix text-overflow">{$book->user->pen_name}</div>
						</div>
					</a>
				</li>
				{else /}
				<li class="text-overflow">
					<a href="{:url('HomeBookShow',['id'=>$book->id])}" target="_blank">
						<span>{$key+1}</span>{$book->title}</a>
				</li>
				{/if} {/foreach}
			</ul>
		</div>

		<!-- <div class="controls">
				<a href="{:url(" HomeMaker ")}" class="btns">更多</a>
			</div> -->
	</div>

	<div class="banner-ad-img">
		<div class="list-container clearfix" style="margin: 0 auto 0;">
			<div class="ad-box">
				<a href="{$advert.home_super->url}">
					<img src="{:imagePath(['table'=>'advert','category'=>'image'] , $advert.home_super->image)}" alt="" width="100%" height="100%">
					<span class="op-tag"></span>
				</a>
			</div>
		</div>
	</div>
	<!--大神专区-->
	<div class="list-container clearfix">
		<div class="TITLE">
			<a href="#">
				<span>
					大神专区
				</span>
			</a>
		</div>
		<div class="book-penl mt20">
			{foreach $mark.home_manito->bookGet(10) as $book}

			<div class="ri-list">
				<a href="{:url('HomeBookShow',['id'=>$book->id])}">
					<div class="img-box">
						<img src="{:imagePath(['table'=>'book','category'=>'cover'] , $book->cover)}" alt="" width="100%" height="100%">
						<div class="ti">{$book->user->pen_name}</div>
					</div>
					<div class="introduce">
						<div class="title">
							{$book->title}
						</div>
						<div class="author clearfix">
							{php} foreach(model('TagRelation')->getRelationTag($book->id,3) as $tag){ echo "
							<span>$tag->name</span>"; } {/php}
						</div>
					</div>
				</a>
			</div>
			{/foreach}
		</div>
		<div class="recommend  mt20">
			<div class="title clearfix">
				人气榜
			</div>
			<ul class="recommendCon week nodis">
				{foreach $mark.home_list_popularity->bookGet(10) as $key=>$book} {if condition="$key == 0"}
				<li class="text-overflow clearfix">
					<a href="{:url('HomeBookShow',['id'=>$book->id])}" target="_blank">
						<span class="fl">{$key+1}</span>
						<div class="scal oh clearfix bookShadow fl" style="width: 48px; height: 64px;">
							<img class="fl" src="{:imagePath(['table'=>'book','category'=>'cover'] , $book->cover)}">
						</div>
						<div class="fl bookContent">
							<div class="bookName text-overflow">{$book->title}</div>
							<div class="bookType text-overflow">{$book->category->title}</div>
							<div class="bookAuthor clearfix text-overflow">{$book->user->pen_name}</div>
						</div>
					</a>
				</li>
				{else /}
				<li class="text-overflow">
					<a href="{:url('HomeBookShow',['id'=>$book->id])}" target="_blank">
						<span>{$key+1}</span>{$book->title}</a>
				</li>
				{/if} {/foreach}
			</ul>
		</div>

		<!-- <div class="controls">
				<a href="{:url(" HomeMaker ")}" class="btns">更多</a>
			</div> -->
	</div>

	<!--长篇专区-->
	<div class="list-container clearfix">
		<div class="TITLE">
			<a>
				<span>
					长篇专区
				</span>
			</a>
		</div>
		<div class="book-penl mt20">
			{foreach $mark.home_long->bookGet(10) as $book}
			<div class="ri-list">
				<a href="{:url('HomeBookShow',['id'=>$book->id])}">
					<div class="img-box">
						<img src="{:imagePath(['table'=>'book','category'=>'cover'] , $book->cover)}" alt="" width="100%" height="100%">
						<div class="ti">{$book->user->pen_name}</div>
					</div>
					<div class="introduce">
						<div class="title">
							{$book->title}
						</div>
						<div class="author clearfix">
							{php} foreach(model('TagRelation')->getRelationTag($book->id,3) as $tag){ echo "
							<span>$tag->name</span>"; } {/php}
						</div>
					</div>
				</a>
			</div>
			{/foreach}
		</div>
		<div class="recommend  mt20">
			<div class="title clearfix">
				收藏榜
			</div>
			<ul class="recommendCon week nodis">
				{foreach $mark.home_list_collect->bookGet(10) as $key=>$book} {if condition="$key == 0"}
				<li class="text-overflow clearfix">
					<a href="{:url('HomeBookShow',['id'=>$book->id])}" target="_blank">
						<span class="fl">{$key+1}</span>
						<div class="scal oh clearfix bookShadow fl" style="width: 48px; height: 64px;">
							<img class="fl" src="{:imagePath(['table'=>'book','category'=>'cover'] , $book->cover)}">
						</div>
						<div class="fl bookContent">
							<div class="bookName text-overflow">{$book->title}</div>
							<div class="bookType text-overflow">{$book->category->title}</div>
							<div class="bookAuthor clearfix text-overflow">{$book->user->pen_name}</div>
						</div>
					</a>
				</li>
				{else /}
				<li class="text-overflow">
					<a href="{:url('HomeBookShow',['id'=>$book->id])}" target="_blank">
						<span>{$key+1}</span>{$book->title}</a>
				</li>
				{/if} {/foreach}
			</ul>
		</div>

		<!-- <div class="controls">
			<a href="{:url(" HomeMaker ")}" class="btns">更多</a>
		</div> -->
	</div>

	<!--短篇专区-->
	<!-- <div class="list-container clearfix">
		<div class="TITLE">
			<a>
				<span>
					短篇专区
				</span>
			</a>
		</div>
		<div class="book-penl mt20">
			{foreach $mark.home_short->bookGet(10) as $book}
			<div class="ri-list">
				<a href="{:url('HomeBookShow',['id'=>$book->id])}">
					<div class="img-box">
						<img src="{:imagePath(['table'=>'book','category'=>'cover'] , $book->cover)}" alt="" width="100%" height="100%">
						<div class="ti">{$book->user->pen_name}</div>
					</div>
					<div class="introduce">
						<div class="title">
							{$book->title}
						</div>
						<div class="author clearfix">
							{php} foreach(model('TagRelation')->getRelationTag($book->id,3) as $tag){ echo "
							<span>$tag->name</span>"; } {/php}
						</div>
					</div>
				</a>
			</div>
			{/foreach}
		</div>
		<div class="recommend  mt20">
			<div class="title clearfix">
				完本榜
			</div>
			<ul class="recommendCon week nodis">
				{foreach $mark.home_list_finish->bookGet(10) as $key=>$book} {if condition="$key == 0"}
				<li class="text-overflow clearfix">
					<a href="{:url('HomeBookShow',['id'=>$book->id])}" target="_blank">
						<span class="fl">{$key+1}</span>
						<div class="scal oh clearfix bookShadow fl" style="width: 48px; height: 64px;">
							<img class="fl" src="{:imagePath(['table'=>'book','category'=>'cover'] , $book->cover)}">
						</div>
						<div class="fl bookContent">
							<div class="bookName text-overflow">{$book->title}</div>
							<div class="bookType text-overflow">{$book->category->title}</div>
							<div class="bookAuthor clearfix text-overflow">{$book->user->pen_name}</div>
						</div>
					</a>
				</li>
				{else /}
				<li class="text-overflow">
					<a href="{:url('HomeBookShow',['id'=>$book->id])}" target="_blank">
						<span>{$key+1}</span>{$book->title}</a>
				</li>
				{/if} {/foreach}
			</ul>
		</div>

			<div class="controls">
				<a href="{:url(" HomeMaker ")}" class="btns">更多</a>
			</div>
	</div> -->

	<!--新书专区-->
	<div class="list-container clearfix">
		<div class="TITLE">
			<a>
				<span>
					新书专区
				</span>
			</a>
		</div>
		<div class="book-penl mt20">
			{foreach $mark.home_fresh->bookGet(10) as $book}
			<div class="ri-list">
				<a href="{:url('HomeBookShow',['id'=>$book->id])}">
					<div class="img-box">
						<img src="{:imagePath(['table'=>'book','category'=>'cover'] , $book->cover)}" alt="" width="100%" height="100%">
						<div class="ti">{$book->user->pen_name}</div>
					</div>
					<div class="introduce">
						<div class="title">
							{$book->title}
						</div>
						<div class="author clearfix">
							{php} foreach(model('TagRelation')->getRelationTag($book->id,3) as $tag){ echo "
							<span>$tag->name</span>"; } {/php}
						</div>
					</div>
				</a>
			</div>
			{/foreach}
		</div>
		<div class="recommend  mt20">
			<div class="title clearfix">
				签约新书榜
			</div>
			<ul class="recommendCon week nodis">
				{foreach $mark.home_list_fresh->bookGet(10) as $key=>$book} {if condition="$key == 0"}
				<li class="text-overflow clearfix">
					<a href="{:url('HomeBookShow',['id'=>$book->id])}" target="_blank">
						<span class="fl">{$key+1}</span>
						<div class="scal oh clearfix bookShadow fl" style="width: 48px; height: 64px;">
							<img class="fl" src="{:imagePath(['table'=>'book','category'=>'cover'] , $book->cover)}">
						</div>
						<div class="fl bookContent">
							<div class="bookName text-overflow">{$book->title}</div>
							<div class="bookType text-overflow">{$book->category->title}</div>
							<div class="bookAuthor clearfix text-overflow">{$book->user->pen_name}</div>
						</div>
					</a>
				</li>
				{else /}
				<li class="text-overflow">
					<a href="{:url('HomeBookShow',['id'=>$book->id])}" target="_blank">
						<span>{$key+1}</span>{$book->title}</a>
				</li>
				{/if} {/foreach}
			</ul>
		</div>

		<!-- <div class="controls">
				<a href="{:url(" HomeMaker ")}" class="btns">更多</a>
			</div> -->
	</div>

	<!--免费专区-->
	<!-- <div class="list-container clearfix">
		<div class="TITLE">
			<a>
				<span>
					免费专区
				</span>
			</a>
		</div>
		<div class="book-penl mt20">
			{foreach $mark.home_free->bookGet(10) as $book}
			<div class="ri-list">
				<a href="{:url('HomeBookShow',['id'=>$book->id])}">
					<div class="img-box">
						<img src="{:imagePath(['table'=>'book','category'=>'cover'] , $book->cover)}" alt="" width="100%" height="100%">
						<div class="ti">{$book->user->pen_name}</div>
					</div>
					<div class="introduce">
						<div class="title">
							{$book->title}
						</div>
						<div class="author clearfix">
							{php} foreach(model('TagRelation')->getRelationTag($book->id,3) as $tag){ echo "
							<span>$tag->name</span>"; } {/php}
						</div>
					</div>
				</a>
			</div>
			{/foreach}
		</div>
		<div class="recommend  mt20">
			<div class="title clearfix">
				免费榜
			</div>
			<ul class="recommendCon week nodis">
				{foreach $mark.home_list_free->bookGet(10) as $key=>$book} {if condition="$key == 0"}
				<li class="text-overflow clearfix">
					<a href="{:url('HomeBookShow',['id'=>$book->id])}" target="_blank">
						<span class="fl">{$key+1}</span>
						<div class="scal oh clearfix bookShadow fl" style="width: 48px; height: 64px;">
							<img class="fl" src="{:imagePath(['table'=>'book','category'=>'cover'] , $book->cover)}">
						</div>
						<div class="fl bookContent">
							<div class="bookName text-overflow">{$book->title}</div>
							<div class="bookType text-overflow">{$book->category->title}</div>
							<div class="bookAuthor clearfix text-overflow">{$book->user->pen_name}</div>
						</div>
					</a>
				</li>
				{else /}
				<li class="text-overflow">
					<a href="{:url('HomeBookShow',['id'=>$book->id])}" target="_blank">
						<span>{$key+1}</span>{$book->title}</a>
				</li>
				{/if} {/foreach}
			</ul>
		</div>

		<div class="controls">
				<a href="{:url(" HomeMaker ")}" class="btns">更多</a>
			</div> 
	</div>-->
</div>



{/block} {block name="css"} {/block} {block name="js"} {/block}