
{extend name="public:index" /}

{block name="main"}
<div class="ssgn" style="width:1160px;">
	<!--内容-->
	<div class="page-container">
		<article>
			<h2>关于我们</h2>
			<p>内涵书城，是衡阳热血文化传媒有限公司旗下为作家提供作品展示的专业平台。</p>
			<p>公司有着强大的渠道资源，在版权代理方面，与国内多家大型文学网站及新媒体渠道，有着深厚的合作，能为签约作家展开电子版权、新媒体渠道、漫画、出版、影视作品等全方位运营。</p>
			<p>目前公司和网站已经运营出多部全渠道畅销作品。</p>

			<h3>我要投稿</h3>
			<p>内涵书城，主打年轻人喜欢的阅读作品。</p>
			
			<h3>目前大量征稿</h3>
			<p>（1）：新媒体向长篇和中短篇小说，男女频不限，题材不限。中短篇10-20万字，长篇30万字以上。</p>
			<p>（2）：版权衍生向作品：适合出版、漫画、影视改编的作品，字数不限，男女频不限、题材不限。</p>

			<h3>签约模式</h3>
			<h5>本网站有着灵活多变的签约模式。</h5>
			<p>（1）纯分成：扣除渠道运营成本，作者和网站5:5分成。</p>
			<p>（2）保底：按照一定价格每千字保底，超出保底则按照分成数据结算。价格10-500每千字。</p>
			<p>（3）买断：按照一定价格每千字买断，按交稿字数结算稿费。价格10-800每千字。</p>


			<h3>投稿QQ</h3>
			<p>网站总编：2501560538</p>
			<p>男频责编：2673374425</p>
			<p>女频责编：215803240</p>
			<p>悬疑责编：359459611</p>
			<p>版权商务合作：QQ:2501560538</p>
			
		</article>
	</div>
</div>
{/block}

{block name="css"}
	
{/block}

{block name="js"}

{/block}