{extend name="public:index" /}

{block name="main"}
<div class="ssgn" style="width:1160px;">
	<!--内容-->
	<div class="page-container">
		<article>
			<h2>青椒阅读</h2>
			<p>青椒阅读（www.qjread.com)创立于2018年9月，是上饶市立看科技有限公司旗下的原创文学网站。</p>
			<p>我们注重于原创作品的制作推广，公司拥有强大的渠道资源，编辑资源，能为每一位原创作者提供全方位的指导推广，推动作品的付费订阅、版权输出（包括影视、游戏、动漫、有声等），为每一部原创签约作品保驾护航，朝着网络文学的多元化发展前进。</p>
			<p>我们建立了优质的作者培养机制、福利计划，对内挖掘扶持新锐作品，对外输出优质原创版权，让网站与作者达到双赢合作的目的。</p>
			<p>我们坚持“原创”、“精品”、“多元”的三大理想，致力于打造阅读的新起点、新方向。</p>
			<p>青椒阅读目前的签约模式包含：纯分成、全勤分成、保底分成、买断、非独家等。</p>
			<p>主收都市暧昧、灵异悬疑等主流作品。</p>
			<p>投稿邮箱：1596072491@qq.com</p>
			
		</article>
	</div>
</div>
{/block}

{block name="css"}
	
{/block}

{block name="js"}

{/block}