{extend name="public:index" /}

{block name="main"}
<!--content-->
<div class="container rel clearfix">
  <!--announcement-->
  <div class="announcement" style="display: none">
    <h3>
      <i class="icon icon-horn"></i>活动公告</h3>
    <ul class="f_s">
      <li>
        <i class="shape-point"></i>
        <a href="shuku/index.html" title="加手机3极速旗舰">加手机3极速旗舰，韩寒同款款加手机3极速旗舰，韩寒同款款</a>
      </li>
      <li>
        <i class="shape-point"></i>
        <a href="shuku/index.html" title="血红评审征文大赛获奖名单">血红评审征文大赛获奖名单揭晓！</a>
      </li>
      <li>
        <i class="shape-point"></i>
        <a href="shuku/index.html" title="加手机3极速旗舰">加手机3极速旗舰，韩寒同款款加手机3极速旗舰，韩寒同款款</a>
      </li>
      <li>
        <i class="shape-point"></i>
        <a href="shuku/index.html" title="血红评审征文大赛获奖名单">血红评审征文大赛获奖名单揭晓！血红评审征文大赛获奖名单揭晓！</a>
      </li>
    </ul>
    <a class="welfare" href="javascript:void(0);">品书福利</a>
  </div>
  <!--announcement end-->
  <div class="banner" id="mySwipe" style="visibility: visible;">
    <div class="banner_wrap">
      <div data-index="0">
        <a href="book/614.html" class="center-block">
          <img src="{:asset('/static/redian/images/671l.jpg')}">
        </a>
      </div>
      <div data-index="1">
        <a href="book/643.html" class="center-block">
          <img src="{:asset('/static/redian/images/671l.jpg')}">
        </a>
      </div>
      <div data-index="2">
        <a href="book/671.html" class="center-block">
          <img src="{:asset('/static/redian/images/671l.jpg')}">
        </a>
      </div>
      <div data-index="3">
        <a href="sp/new/index.html" class="center-block">
          <img src="{:asset('/static/redian/images/671l.jpg')}">
        </a>
      </div>
    </div>
    <div class="navpos">
      <ul id="banner_pos">
        <li class="crt"></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <!--banner end-->

  <div class="pt-3 clearfix">
    <div class="w-76-5" style="    width: 854px;">
      <div class="boxbk hotbook">
        <div class="tit-1">
          <h3>
            <i class="icon icon-hotbook"></i>畅销书籍</h3>
        </div>
        <div class="box-content h-48">
          <a class="pic-large" href="book/658.html">
            <img class="pic" src="http://www.pinshu.com/files/article/image/0/658/658s.jpg" />
            <div class="txt">
              <div class="p-2">
                <img class="photo" src="http://www.pinshu.com/files/system/avatar/0/120.jpg?date=1475024167" />云六爷 著
                <p class="text-nowrap"> 赵念念哭着对他说：“不要拿走我的肾，她不是我刺伤的。”盛君夜不顾她的哭泣，残忍的推开她，“你这个恶毒的女人，她是你的妹妹，你却为了自己想她死，肾，我要定了。”…</p>
              </div>
            </div>
          </a>

          <ul class="list-pictxt list-m pr-0 f-mini" style="width: 58%">
            <li class="first">
              <a class="pic" href="book/590.html" title="废柴王爷的神医狂妃" target="_self">
                <img src="http://www.pinshu.com/files/article/image/0/590/590s.jpg" />
              </a>
              <h4>
                <a class="text-nowrap" href="book/590.html" title="废柴王爷的神医狂妃">《废柴王爷的神医狂妃》</a>
              </h4>
              <span>白银</span>
              <p class="txt-hide"> 她原本是将军府嫡女，性格懦弱，被继母凌虐！被妹妹坏了名声，更丧心病狂的将她杀害！再次睁眼，她是二十一世纪中医世家的奇才少女神医，惊艳世人！</p>
              <a class="txt-well" href="book/663.html">立即阅读》</a>
            </li>
            <li>
              <a class="pic" href="book/663.html" title="将心许你赠白首">
                <img src="http://www.pinshu.com/files/article/image/0/590/590s.jpg" />
              </a>
              <h4>
                <a class="text-nowrap" href="book/663.html" title="将心许你赠白首">《将心许你赠白首》</a>
              </h4>
              <span>云卿卿</span>
              <p class="txt-hide"> 一场精心密谋的阴谋，她成为他眼中水性杨花的荡妇，他毁掉他们的婚姻，谋杀她的孩子，转身却拥着她最痛恨的女人走进教堂……</p>
              <a class="txt-well" href="book/594.html">立即阅读》</a>
            </li>
            <li class="last">
              <a class="pic" href="book/594.html" title="情深不婚：景少，慢慢来">
                <img src="http://www.pinshu.com/files/article/image/0/590/590s.jpg" />
              </a>
              <h4>
                <a class="text-nowrap" href="book/594.html" title="情深不婚：景少，慢慢来">《 情深不婚：景少，慢慢来 》</a>
              </h4>
              <span>君曦</span>
              <p class="txt-hide"> 她用一颗肾，换来了梦寐以求的婚礼，婚礼之后，虽夜夜被翻红浪，她的男人却恨她恨得敲骨吸髓。</p>
              <a class="txt-well" href="book/594.html">立即阅读》</a>
            </li>
          </ul>
        </div>
        <!--box-content end-->
      </div>
      <!--boxbk end-->
    </div>
    <!--w-76-5 end-->

    <div class="w-23 f-r" style="width: 276px">
      <div class="boxbk">
        <div class="tit-1">
          <h3>
            <i class="icon icon-booknote"></i>主编推荐</h3>
        </div>
        <div class="box-content h-48">
          <ul class="list-pictxt rank list-s p-2  f-mini">
            <li class="first">
              <div class="topone">NO.1</div>
              <a class="pic" href="book/250.html" title="以我余生，换你情深">
                <img src="http://www.pinshu.com/files/article/image/0/638/638s.jpg" />
              </a>
              <div class="art">
                <h4>
                  <a class="f-s" href="book/638.html" title="以我余生，换你情深">以我余生，换你情深</a>
                </h4>
                <span>江鱼儿</span>
              </div>
            </li>
            <li>
              <i>2</i>
              <a class="pic" href="book/580.html" title="他比月亮还凉薄">
                <img src="http://www.pinshu.com/files/article/image/0/638/638s.jpg" />
              </a>
              <div class="art">
                <h4>
                  <a class="f-s" href="book/580.html" title="他比月亮还凉薄">他比月亮还凉薄</a>
                </h4>
                <span>杭州拓文</span>
              </div>
            </li>
            <li>
              <i>3</i>
              <a class="pic" href="book/654.html" title="如果这都不算爱">
                <img src="http://www.pinshu.com/files/article/image/0/638/638s.jpg" />
              </a>
              <div class="art">
                <h4>
                  <a class="f-s" href="book/654.html" title="如果这都不算爱">如果这都不算爱</a>
                </h4>
                <span>若如</span>
              </div>
            </li>
            <li>
              <i>4</i>
              <a class="pic" href="book/591.html" title="爱你有口难言 ">
                <img src="http://www.pinshu.com/files/article/image/0/638/638s.jpg" />
              </a>
              <div class="art">
                <h4>
                  <a class="f-s" href="book/591.html" title="爱你有口难言 ">爱你有口难言 </a>
                </h4>
                <span>洋小七</span>
              </div>
            </li>
            <li class="last">
              <i>5</i>
              <a class="pic" href="book/651.html" title="爱你有瘾，无药可救">
                <img src="http://www.pinshu.com/files/article/image/0/638/638s.jpg" />
              </a>
              <div class="art">
                <h4>
                  <a class="f-s" href="book/651.html" title="爱你有瘾，无药可救">爱你有瘾，无药可救</a>
                </h4>
                <span>麦兜</span>
              </div>
            </li>
          </ul>
          <a href="shuku.html" class="more txt-well">查看更多 >></a>
        </div>
        <!--box-content end-->
      </div>
      <!--boxbk end-->
    </div>
    <!--w-23 end-->
  </div>
  <!--pt-3 end-->
  <div class="pt-3 clearfix">
    <div class="w-76-5" style="    width: 854px;">
      <div class="boxbk hotbook">
        <div class="tit-1">
          <h3>
            <i class="icon icon-hotbook"></i>畅销书籍</h3>
        </div>
        <div class="box-content h-48">
          <a class="pic-large" href="book/658.html">
            <img class="pic" src="http://www.pinshu.com/files/article/image/0/658/658s.jpg" />
            <div class="txt">
              <div class="p-2">
                <img class="photo" src="http://www.pinshu.com/files/system/avatar/0/120.jpg?date=1475024167" />云六爷 著
                <p class="text-nowrap"> 赵念念哭着对他说：“不要拿走我的肾，她不是我刺伤的。”盛君夜不顾她的哭泣，残忍的推开她，“你这个恶毒的女人，她是你的妹妹，你却为了自己想她死，肾，我要定了。”…</p>
              </div>
            </div>
          </a>

          <ul class="list-pictxt list-m pr-0 f-mini" style="width: 58%">
            <li class="first">
              <a class="pic" href="book/590.html" title="废柴王爷的神医狂妃" target="_self">
                <img src="http://www.pinshu.com/files/article/image/0/590/590s.jpg" />
              </a>
              <h4>
                <a class="text-nowrap" href="book/590.html" title="废柴王爷的神医狂妃">《废柴王爷的神医狂妃》</a>
              </h4>
              <span>白银</span>
              <p class="txt-hide"> 她原本是将军府嫡女，性格懦弱，被继母凌虐！被妹妹坏了名声，更丧心病狂的将她杀害！再次睁眼，她是二十一世纪中医世家的奇才少女神医，惊艳世人！</p>
              <a class="txt-well" href="book/663.html">立即阅读》</a>
            </li>
            <li>
              <a class="pic" href="book/663.html" title="将心许你赠白首">
                <img src="http://www.pinshu.com/files/article/image/0/590/590s.jpg" />
              </a>
              <h4>
                <a class="text-nowrap" href="book/663.html" title="将心许你赠白首">《将心许你赠白首》</a>
              </h4>
              <span>云卿卿</span>
              <p class="txt-hide"> 一场精心密谋的阴谋，她成为他眼中水性杨花的荡妇，他毁掉他们的婚姻，谋杀她的孩子，转身却拥着她最痛恨的女人走进教堂……</p>
              <a class="txt-well" href="book/594.html">立即阅读》</a>
            </li>
            <li class="last">
              <a class="pic" href="book/594.html" title="情深不婚：景少，慢慢来">
                <img src="http://www.pinshu.com/files/article/image/0/590/590s.jpg" />
              </a>
              <h4>
                <a class="text-nowrap" href="book/594.html" title="情深不婚：景少，慢慢来">《 情深不婚：景少，慢慢来 》</a>
              </h4>
              <span>君曦</span>
              <p class="txt-hide"> 她用一颗肾，换来了梦寐以求的婚礼，婚礼之后，虽夜夜被翻红浪，她的男人却恨她恨得敲骨吸髓。</p>
              <a class="txt-well" href="book/594.html">立即阅读》</a>
            </li>
          </ul>
        </div>
        <!--box-content end-->
      </div>
      <!--boxbk end-->
    </div>
    <!--w-76-5 end-->

    <div class="w-23 f-r" style="width: 276px">
      <div class="boxbk">
        <div class="tit-1">
          <h3>
            <i class="icon icon-booknote"></i>主编推荐</h3>
        </div>
        <div class="box-content h-48">
          <ul class="list-pictxt rank list-s p-2  f-mini">
            <li class="first">
              <div class="topone">NO.1</div>
              <a class="pic" href="book/250.html" title="以我余生，换你情深">
                <img src="http://www.pinshu.com/files/article/image/0/638/638s.jpg" />
              </a>
              <div class="art">
                <h4>
                  <a class="f-s" href="book/638.html" title="以我余生，换你情深">以我余生，换你情深</a>
                </h4>
                <span>江鱼儿</span>
              </div>
            </li>
            <li>
              <i>2</i>
              <a class="pic" href="book/580.html" title="他比月亮还凉薄">
                <img src="http://www.pinshu.com/files/article/image/0/638/638s.jpg" />
              </a>
              <div class="art">
                <h4>
                  <a class="f-s" href="book/580.html" title="他比月亮还凉薄">他比月亮还凉薄</a>
                </h4>
                <span>杭州拓文</span>
              </div>
            </li>
            <li>
              <i>3</i>
              <a class="pic" href="book/654.html" title="如果这都不算爱">
                <img src="http://www.pinshu.com/files/article/image/0/638/638s.jpg" />
              </a>
              <div class="art">
                <h4>
                  <a class="f-s" href="book/654.html" title="如果这都不算爱">如果这都不算爱</a>
                </h4>
                <span>若如</span>
              </div>
            </li>
            <li>
              <i>4</i>
              <a class="pic" href="book/591.html" title="爱你有口难言 ">
                <img src="http://www.pinshu.com/files/article/image/0/638/638s.jpg" />
              </a>
              <div class="art">
                <h4>
                  <a class="f-s" href="book/591.html" title="爱你有口难言 ">爱你有口难言 </a>
                </h4>
                <span>洋小七</span>
              </div>
            </li>
            <li class="last">
              <i>5</i>
              <a class="pic" href="book/651.html" title="爱你有瘾，无药可救">
                <img src="http://www.pinshu.com/files/article/image/0/638/638s.jpg" />
              </a>
              <div class="art">
                <h4>
                  <a class="f-s" href="book/651.html" title="爱你有瘾，无药可救">爱你有瘾，无药可救</a>
                </h4>
                <span>麦兜</span>
              </div>
            </li>
          </ul>
          <a href="shuku.html" class="more txt-well">查看更多 >></a>
        </div>
        <!--box-content end-->
      </div>
      <!--boxbk end-->
    </div>
    <!--w-23 end-->
  </div>
  <!--pt-3 end-->
  <div class="pt-3 clearfix">
    <div class="w-76-5" style="    width: 854px;">
      <div class="boxbk hotbook">
        <div class="tit-1">
          <h3>
            <i class="icon icon-hotbook"></i>畅销书籍</h3>
        </div>
        <div class="box-content h-48">
          <a class="pic-large" href="book/658.html">
            <img class="pic" src="http://www.pinshu.com/files/article/image/0/658/658s.jpg" />
            <div class="txt">
              <div class="p-2">
                <img class="photo" src="http://www.pinshu.com/files/system/avatar/0/120.jpg?date=1475024167" />云六爷 著
                <p class="text-nowrap"> 赵念念哭着对他说：“不要拿走我的肾，她不是我刺伤的。”盛君夜不顾她的哭泣，残忍的推开她，“你这个恶毒的女人，她是你的妹妹，你却为了自己想她死，肾，我要定了。”…</p>
              </div>
            </div>
          </a>

          <ul class="list-pictxt list-m pr-0 f-mini" style="width: 58%">
            <li class="first">
              <a class="pic" href="book/590.html" title="废柴王爷的神医狂妃" target="_self">
                <img src="http://www.pinshu.com/files/article/image/0/590/590s.jpg" />
              </a>
              <h4>
                <a class="text-nowrap" href="book/590.html" title="废柴王爷的神医狂妃">《废柴王爷的神医狂妃》</a>
              </h4>
              <span>白银</span>
              <p class="txt-hide"> 她原本是将军府嫡女，性格懦弱，被继母凌虐！被妹妹坏了名声，更丧心病狂的将她杀害！再次睁眼，她是二十一世纪中医世家的奇才少女神医，惊艳世人！</p>
              <a class="txt-well" href="book/663.html">立即阅读》</a>
            </li>
            <li>
              <a class="pic" href="book/663.html" title="将心许你赠白首">
                <img src="http://www.pinshu.com/files/article/image/0/590/590s.jpg" />
              </a>
              <h4>
                <a class="text-nowrap" href="book/663.html" title="将心许你赠白首">《将心许你赠白首》</a>
              </h4>
              <span>云卿卿</span>
              <p class="txt-hide"> 一场精心密谋的阴谋，她成为他眼中水性杨花的荡妇，他毁掉他们的婚姻，谋杀她的孩子，转身却拥着她最痛恨的女人走进教堂……</p>
              <a class="txt-well" href="book/594.html">立即阅读》</a>
            </li>
            <li class="last">
              <a class="pic" href="book/594.html" title="情深不婚：景少，慢慢来">
                <img src="http://www.pinshu.com/files/article/image/0/590/590s.jpg" />
              </a>
              <h4>
                <a class="text-nowrap" href="book/594.html" title="情深不婚：景少，慢慢来">《 情深不婚：景少，慢慢来 》</a>
              </h4>
              <span>君曦</span>
              <p class="txt-hide"> 她用一颗肾，换来了梦寐以求的婚礼，婚礼之后，虽夜夜被翻红浪，她的男人却恨她恨得敲骨吸髓。</p>
              <a class="txt-well" href="book/594.html">立即阅读》</a>
            </li>
          </ul>
        </div>
        <!--box-content end-->
      </div>
      <!--boxbk end-->
    </div>
    <!--w-76-5 end-->

    <div class="w-23 f-r" style="width: 276px">
      <div class="boxbk">
        <div class="tit-1">
          <h3>
            <i class="icon icon-booknote"></i>主编推荐</h3>
        </div>
        <div class="box-content h-48">
          <ul class="list-pictxt rank list-s p-2  f-mini">
            <li class="first">
              <div class="topone">NO.1</div>
              <a class="pic" href="book/250.html" title="以我余生，换你情深">
                <img src="http://www.pinshu.com/files/article/image/0/638/638s.jpg" />
              </a>
              <div class="art">
                <h4>
                  <a class="f-s" href="book/638.html" title="以我余生，换你情深">以我余生，换你情深</a>
                </h4>
                <span>江鱼儿</span>
              </div>
            </li>
            <li>
              <i>2</i>
              <a class="pic" href="book/580.html" title="他比月亮还凉薄">
                <img src="http://www.pinshu.com/files/article/image/0/638/638s.jpg" />
              </a>
              <div class="art">
                <h4>
                  <a class="f-s" href="book/580.html" title="他比月亮还凉薄">他比月亮还凉薄</a>
                </h4>
                <span>杭州拓文</span>
              </div>
            </li>
            <li>
              <i>3</i>
              <a class="pic" href="book/654.html" title="如果这都不算爱">
                <img src="http://www.pinshu.com/files/article/image/0/638/638s.jpg" />
              </a>
              <div class="art">
                <h4>
                  <a class="f-s" href="book/654.html" title="如果这都不算爱">如果这都不算爱</a>
                </h4>
                <span>若如</span>
              </div>
            </li>
            <li>
              <i>4</i>
              <a class="pic" href="book/591.html" title="爱你有口难言 ">
                <img src="http://www.pinshu.com/files/article/image/0/638/638s.jpg" />
              </a>
              <div class="art">
                <h4>
                  <a class="f-s" href="book/591.html" title="爱你有口难言 ">爱你有口难言 </a>
                </h4>
                <span>洋小七</span>
              </div>
            </li>
            <li class="last">
              <i>5</i>
              <a class="pic" href="book/651.html" title="爱你有瘾，无药可救">
                <img src="http://www.pinshu.com/files/article/image/0/638/638s.jpg" />
              </a>
              <div class="art">
                <h4>
                  <a class="f-s" href="book/651.html" title="爱你有瘾，无药可救">爱你有瘾，无药可救</a>
                </h4>
                <span>麦兜</span>
              </div>
            </li>
          </ul>
          <a href="shuku.html" class="more txt-well">查看更多 >></a>
        </div>
        <!--box-content end-->
      </div>
      <!--boxbk end-->
    </div>
    <!--w-23 end-->
  </div>
  <!--pt-3 end-->



  <div class="boxbk mt-3 clearfix">
    <div class="tit-1">
      <h3>
        <i class="icon icon-recent"></i>优秀更新</h3>
    </div>
    <div class="box-content p-2">
      <dl class="list-txt text-nowrap">
        <dt class="clearfix">
          <span class="col-xs-2">类别</span>
          <span class="col-xs-3">书名</span>
          <span class="col-xs-2">作者</span>
          <span class="col-xs-3">最新章节</span>
          <span class="col-xs-2">更新时间</span>
        </dt>

        <dd class="clearfix">
          <span class="col-xs-2">总裁豪门</span>
          <span class="col-xs-3">
            <a href="book/614.html" class="tex-f8a">
              <i class="wordnumber">亲爱的律师大人</i>
              <i class="vip-art"></i>
            </a>
          </span>
          <span class="col-xs-2">江鱼儿</span>
          <span class="col-xs-3">
            <a href="read/614/272524.html" class=" tex-f8a">第435章 不适合你</a>
          </span>
          <span class="col-xs-2">05-19 12:49</span>

        </dd>

        <dd class="clearfix">
          <span class="col-xs-2">玄幻修真</span>
          <span class="col-xs-3">
            <a href="book/818.html" class="tex-f8a">
              <i class="wordnumber">绝美总裁俏老婆</i>
              <i class="vip-art"></i>
            </a>
          </span>
          <span class="col-xs-2">赌石大爷</span>
          <span class="col-xs-3">
            <a href="read/818/273349.html" class=" tex-f8a">第四百零五章 作孽啊</a>
          </span>
          <span class="col-xs-2">05-19 12:46</span>

        </dd>

        <dd class="clearfix">
          <span class="col-xs-2">古代言情</span>
          <span class="col-xs-3">
            <a href="book/590.html" class="tex-f8a">
              <i class="wordnumber">废柴王爷的神医狂妃</i>
              <i class="vip-art"></i>
            </a>
          </span>
          <span class="col-xs-2">白银</span>
          <span class="col-xs-3">
            <a href="read/590/273275.html" class=" tex-f8a">第三百六十七章：重返北境</a>
          </span>
          <span class="col-xs-2">05-19 12:33</span>

        </dd>

        <dd class="clearfix">
          <span class="col-xs-2">总裁豪门</span>
          <span class="col-xs-3">
            <a href="book/336.html" class="tex-f8a">
              <i class="wordnumber">腹黑首席的王牌萌妻</i>
              <i class="vip-art"></i>
            </a>
          </span>
          <span class="col-xs-2">五月</span>
          <span class="col-xs-3">
            <a href="read/336/272601.html" class=" tex-f8a">第三百九十一章 大计划和大筹码</a>
          </span>
          <span class="col-xs-2">05-19 10:53</span>

        </dd>

        <dd class="clearfix">
          <span class="col-xs-2">都市异能</span>
          <span class="col-xs-3">
            <a href="book/808.html" class="tex-f8a">
              <i class="wordnumber">归途</i>
              <i class="vip-art"></i>
            </a>
          </span>
          <span class="col-xs-2">鬼才高翔</span>
          <span class="col-xs-3">
            <a href="read/808/273347.html" class=" tex-f8a">第六十八章 焕发第二春</a>
          </span>
          <span class="col-xs-2">05-19 10:44</span>

        </dd>

        <dd class="clearfix">
          <span class="col-xs-2">都市异能</span>
          <span class="col-xs-3">
            <a href="book/815.html" class="tex-f8a">
              <i class="wordnumber">晚春</i>
              <i class="vip-art"></i>
            </a>
          </span>
          <span class="col-xs-2">火烧风</span>
          <span class="col-xs-3">
            <a href="read/815/273317.html" class=" tex-f8a">第一百二十五章 不负众望</a>
          </span>
          <span class="col-xs-2">05-19 10:14</span>

        </dd>

        <dd class="clearfix">
          <span class="col-xs-2">都市异能</span>
          <span class="col-xs-3">
            <a href="book/661.html" class="tex-f8a">
              <i class="wordnumber">重金求子</i>
              <i class="vip-art"></i>
            </a>
          </span>
          <span class="col-xs-2">金手</span>
          <span class="col-xs-3">
            <a href="read/661/273345.html" class=" tex-f8a">第四百四十七章 冷静一下</a>
          </span>
          <span class="col-xs-2">05-19 09:51</span>

        </dd>

        <dd class="clearfix">
          <span class="col-xs-2">现代言情</span>
          <span class="col-xs-3">
            <a href="book/628.html" class="tex-f8a">
              <i class="wordnumber">如果妖精不忧伤</i>
              <i class="vip-art"></i>
            </a>
          </span>
          <span class="col-xs-2">苏零落</span>
          <span class="col-xs-3">
            <a href="read/628/273341.html" class=" tex-f8a">第124章 若是想杀</a>
          </span>
          <span class="col-xs-2">05-19 08:41</span>

        </dd>

        <dd class="clearfix">
          <span class="col-xs-2">都市异能</span>
          <span class="col-xs-3">
            <a href="book/813.html" class="tex-f8a">
              <i class="wordnumber">美女总裁的御用兵王</i>
              <i class="vip-art"></i>
            </a>
          </span>
          <span class="col-xs-2">一只</span>
          <span class="col-xs-3">
            <a href="read/813/273181.html" class=" tex-f8a">第115章 他是我男朋友</a>
          </span>
          <span class="col-xs-2">05-19 08:23</span>

        </dd>

        <dd class="clearfix">
          <span class="col-xs-2">现代言情</span>
          <span class="col-xs-3">
            <a href="book/608.html" class="tex-f8a">
              <i class="wordnumber">秘爱新妻</i>
              <i class="vip-art"></i>
            </a>
          </span>
          <span class="col-xs-2">宓澜</span>
          <span class="col-xs-3">
            <a href="read/608/273168.html" class=" tex-f8a">第三百零七章 真相</a>
          </span>
          <span class="col-xs-2">05-19 08:02</span>

        </dd>


      </dl>
    </div>
    <!--box-content end-->
  </div>
  <!--boxbk end-->
  <div class="boxbk mt-3 clearfix">
    <div class="tit-1">
      <h3>
        <i class="icon icon-horn"></i>商务合作</h3>
    </div>
    <div class="box-content p-2 work">
      <div class="my-info col-xs-4">
        <div class="head-img">
          <img src="./images/dn.png">
        </div>
        <span class="my-person-info">

          <p>女频编辑：豆奶</p>
          <p>QQ：
            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1138770410&amp;site=qq&amp;menu=yes" target="_blank">1138770410</a>
          </p>
        </span>
      </div>
      <div class="my-info col-xs-4">
        <div class="head-img">
          <img src="./images/wm.jpg">
        </div>
        <span class="my-person-info">
          <p>女频编辑：文木</p>
          <p>QQ：
            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=879093726&amp;site=qq&amp;menu=yes" target="_blank">879093726</a>
          </p>
        </span>
      </div>
      <div class="my-info col-xs-4">
        <div class="head-img">
          <img src="./images/haidong.jpg">
        </div>
        <span class="my-person-info">
          <p>男频编辑：海东</p>
          <p>QQ：
            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3157018843&amp;site=qq&amp;menu=yes" target="_blank">3157018843</a>
          </p>
        </span>
      </div>
      <div class="my-info col-xs-4">
        <div class="head-img">
          <img src="./images/fq.jpg">
        </div>
        <span class="my-person-info">
          <p>男频编辑：风起</p>
          <p>QQ：
            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3418692090&amp;site=qq&amp;menu=yes" target="_blank">3418692090</a>
          </p>
        </span>
      </div>
      <div class="my-info col-xs-4">
        <div class="head-img">
          <img src="./images/hz.png">
        </div>
        <span class="my-person-info">
          <p>商务合作</p>
          <p>QQ：
            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=911316326&amp;site=qq&amp;menu=yes" target="_blank">911316326</a>
          </p>
        </span>
      </div>
      <div class="my-info col-xs-4">
        <div class="head-img">
          <img src="./images/email.png">
        </div>
        <span class="my-person-info">
          <p>客服</p>
          <p>QQ：
            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=4008082526&amp;site=qq&amp;menu=yes" target="_blank">4008082526</a>
          </p>
        </span>
      </div>

    </div>
    <!--box-content end-->
  </div>
  <div class="boxbk box-border friendlink mt-3 clearfix">
    <div class="box-content">
      <h3>合作伙伴</h3>
      <p>
        <a href="http://www.shucong.com/">书丛</a>
        <a href="http://www.quyuewang.cn/">趣阅中文网</a>
        <a href="http://www.yushu5.com/">羽书网</a>
        <a href="http://www.alphafun.com/index.htm">阿尔法文学网</a>
        <a href="http://www.yiyuetop.com/">樱桃阅读</a>
        <a href="http://www.365haoshu.com/">365好书</a>
        <a href="http://www.zzwenxue.com/">掌中文学网</a>
        <a href="http://www.shidaizw.com/">时代中文网</a>
        <a href="http://www.jbzwread.com/">绝版中文网</a>
        <a href="http://www.meiweishudan.com/">美味书单</a>
        <a href="http://www.caomeibook.com/">草莓书城</a>
        <a href="http://www.shengdan.com/">圣诞文学网</a>
        <a href="http://www.xingchenw.com/">星尘阅读网</a>
        <a href="http://www.hcsip.com/">华策文学网</a>
        <a href="http://www.7ysc.com.cn/">柒月书城</a>
        <a href="http://www.gzdushu.com/">公主书城</a>
        <a href="http://wangwen.com/">网文</a>
        <a href="http://www.fqwxs.com/">凤栖梧小说
      </p>
    </div>
    <!--box-content end-->
  </div>
  <!--boxbk end-->

</div>
<!--container end-->
{/block}

{block name="css"}
	
{/block}

{block name="js"}
<!--javascript-->
<script src="{:asset('/static/redian/js/swipe.js')}"></script>
<script src="{:asset('/static/redian/js/jquery.ellipsis.js')}"></script>
<script>
//轮播图触发事件
var mySwipe = Swipe(document.getElementById('mySwipe'), {
  auto: 3000,
  callback: function (index, element) {
    slideTab(index)
  }
});
//点击跳转到相应的轮播图
var bullets = document.getElementById('banner_pos').getElementsByTagName('li');
for (var i = 0; i < bullets.length; i++) {
  var elem = bullets[i];
  elem.setAttribute('data-tab', i);
  elem.onclick = function () {
    mySwipe.slide(parseInt(this.getAttribute('data-tab'), 10), 500);//设置滑到的索引
  }
}
//设置选中圆点的样式
function slideTab(index) {
  var i = bullets.length;
  while (i--) {
    bullets[i].className = bullets[i].className.replace('crt', ' ');
  }
  bullets[index].className = 'crt';
};
//文字溢出限定字数
$(document).ready(function () {
  //	$(".zxx_text_overflow_1").wordLimit();
  $(".wordnumber").wordLimit(12);
});
</script>
{/block}