{extend name="public:admin" /}

{block name="main"}

<!--内容部分-->
<div class="right-content right-content1" id="rights">
	<div class="content">
		<!--当前作品数-->
		<div class="lbbg lbbg1">
			<table>
				<tr>
					<th>推送渠道名称</th>
					<th>推送渠道书籍分配ID</th>
					<th>操作</th>
				</tr>

				<tr class="first">
					<td>网易云阅读</td>
					<td>
					{:objectFormList(
						$connector->getConnectorBook('yuedu'),
						'book_id'
					)}
					</td>
					<td>
						<span><a class="book-authorization" href="javascript:;" data-href="{:url('AdminConnectorYueduBook')}" >书籍授权</a></span>
						<span>
							<a href="javascript:;" id="book-batch-push"
							data-id="{:objectFormList($connector->getConnectorBook('yuedu'),'book_id')}" >添加推送</a>
						</span>
						<span>
							<a href="javascript:;" id="book-batch-push-add"
							data-id="{:objectFormList($connector->getConnectorBook('yuedu'),'book_id')}">章节添加推送</a>
						</span>
						<span><a href="{:url('AdminConnectorYueduInfo')}" >书籍列表<a></span>
					</td>
				</tr>

				<tr>
					<td>看书网</td>
					<td>
					{:objectFormList(
						$connector->getConnectorBook('kanshu'),
						'book_id'
					)}
					</td>
					<td>
						<span><a class="book-authorization" data-href="{:url('AdminConnectorKanshuBook')}" href="javascript:;" >书籍授权</a></span>
					</td>
				</tr>

			</table>
		</div>
	</div>
</div>

{/block}


{block name="css"}
	
{/block}

{block name="js"}
	<script src="{:asset('/static/js/layer.js')}"></script>
	<script>
		$(".book-authorization").on("click",function (){
			layer.open({
			  type: 2,
			  area: ['700px', '450px'],
			  fixed: false, //不固定
			  maxmin: true,
			  page: true,
			  content: $(this).data('href')
			});
		});
		
		//添加推送
        $(document).on("click","#book-batch-push",function (){
            var dom = this;
            $.post("{:url('AdminConnectorYueduPush')}",{id:$(dom).data('id')},function(result){
                alert("成功");
            });
        });

        //增量推送
        $(document).on("click","#book-batch-push-add",function (){
            var dom = this;
            $.post("{:url('AdminConnectorYueduPushAdd')}",{id:$(dom).data('id')},function(result){
                alert("成功");
            });
        });

	</script>
{/block}