{extend name="public:index" /}

{block name="main"}
<div class="ssgn" style="width:1160px;">
	<!--内容-->
	<div class="page-container">
		<article>
			<h2>半刻阅读</h2>
			<p>半刻阅读是一家专注于新媒体情感都市小说制作的原创网站。网站slogan：是文字温暖你的灵魂。</p>

			<h3>半刻团队</h3>
			<p>我们每个制作人主攻方向各具特色，当前制作人团队主要由业内顶尖大神、资深编辑、资深运营，及业资深作者组建而成，对新媒体风格的小说具有独到的见解，能够辅导作者创作出更优质的原创内容。</p>

			<h3>半刻内容</h3>
			<p>作品采用新媒体平台优先的全平台发行策略，一期同步上架数十家新媒体网文发行平台，二期则同步上架50余家优质的WEB及APP网文阅读平台，发行能力覆盖国内超过90%的网文传播渠道，最大化地曝光作品，提升收入。</p>		
		</article>
	</div>
</div>
{/block}

{block name="css"}
	
{/block}

{block name="js"}

{/block}