{extend name="public:index" /} {block name="main"}
<!--banner-->
<div class="home-featured">
	<div class="swiper-container" id="home-swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<a class="link" href="">
					<div class="cover">
						<img src="{:asset('/static/img/42_1500980783837.jpg')}">
					</div>
				</a>
				<div class="mask"></div>
			</div>
			<div class="swiper-slide">
				<a class="link" href="">
					<div class="cover">
						<img src="{:asset('/static/img/47_1515996954255.jpg')}">
					</div>
				</a>
				<div class="mask"></div>
			</div>
			<div class="swiper-slide">
				<a class="link" href="">
					<div class="cover">
						<img src="{:asset('/static/img/48_1515480314924.jpg')}">
					</div>
				</a>
				<div class="mask"></div>
			</div>
			<div class="swiper-slide">
				<a class="link" href="">
					<div class="cover">
						<img src="{:asset('/static/img/49_1505108338728.jpg')}">
					</div>
				</a>
				<div class="mask"></div>
			</div>
			<div class="swiper-slide">
				<a class="link" href="">
					<div class="cover">
						<img src="{:asset('/static/img/50_1505470554957.jpg')}">
					</div>
				</a>
				<div class="mask"></div>
			</div>
			<div class="swiper-slide">
				<a class="link" href="">
					<div class="cover">
						<img src="{:asset('/static/img/51_1521609680481.jpg')}">
					</div>
				</a>
				<div class="mask"></div>
			</div>
		</div>
		<!-- 如果需要导航按钮
	    <div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
		 -->
		<div class="swiper-pagination"></div>
	</div>
</div>


<div class="book-list">
	<!--重磅封推-->
	<div class="list-container feature-list">
		<h3 class="hdzx-bt">重磅
			<span>&nbsp;封推</span>
		</h3>
		<div class="row">
			<div class="col-md-4">
				
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
		</div>
		<div class="controls">
			<a href="{:url(" HomeMaker ")}" class="btns">更多</a>
		</div>
	</div>

	<div class="banner-ad-img">
		<div class="row">
			<div class="ad-box">
				<a href="#">
				<img src="//qidian.qpic.cn/qidian_common/349573/7554404d056a375cce697ca8291c5a1d/0" alt="" width="100%" height="100%">
					<span class="op-tag"></span>					
				</a>
			</div>
		</div>
	</div>
	<!--大神专区-->
	<div class="list-container nb-list">
		<h3 class="hdzx-bt">大神
			<span>&nbsp;专区</span>
		</h3>
		<div class="row">
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
		</div>
		<div class="row mt25">
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
		</div>
		<div class="row mt25">
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
		</div>
		<div class="controls">
			<a href="{:url(" HomeMaker ")}" class="btns">更多</a>
		</div>
	</div>

	<!--长篇专区-->
	<div class="list-container ">
		<h3 class="hdzx-bt">长篇
			<span>&nbsp;专区</span>
		</h3>
		<div class="row">
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
		</div>
		<div class="row mt25">
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
		</div>
		<div class="row mt25">
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
		</div>
		<div class="controls">
			<a href="{:url(" HomeMaker ")}" class="btns">更多</a>
		</div>
	</div>

	<!--短篇专区-->
	<div class="list-container ">
		<h3 class="hdzx-bt">短篇
			<span>&nbsp;专区</span>
		</h3>
		<div class="row">
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
		</div>
		<div class="row mt25">
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
		</div>

		<div class="controls">
			<a href="{:url(" HomeMaker ")}" class="btns">更多</a>
		</div>
	</div>

	<!--新书专区-->
	<div class="list-container ">
		<h3 class="hdzx-bt">新书
			<span>&nbsp;专区</span>
		</h3>
		<div class="row">
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
		</div>
		<div class="row mt25">
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
		</div>

		<div class="controls">
			<a href="{:url(" HomeMaker ")}" class="btns">更多</a>
		</div>
	</div>

	<!--免费专区-->
	<div class="list-container ">
		<h3 class="hdzx-bt">免费
			<span>&nbsp;专区</span>
		</h3>
		<div class="row">
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
		</div>
		<div class="row mt25">
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
		</div>
		<div class="row mt25">
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author">
						夕阳
					</div>
				</div>
			</div>
		</div>

		<div class="controls">
			<a href="{:url(" HomeMaker ")}" class="btns">更多</a>
		</div>
	</div>
</div>



{/block} {block name="css"} {/block} {block name="js"} {/block}