{extend name="public:index" /} {block name="main"}
<!--banner-->
<!-- <div class="home-featured">
	<div class="swiper-container" id="home-swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<a class="link" href="">
					<div class="cover">
						<img src="{:asset('/static/img/42_1500980783837.jpg')}">
					</div>
				</a>
				<div class="mask"></div>
			</div>
			<div class="swiper-slide">
				<a class="link" href="">
					<div class="cover">
						<img src="{:asset('/static/img/47_1515996954255.jpg')}">
					</div>
				</a>
				<div class="mask"></div>
			</div>
			<div class="swiper-slide">
				<a class="link" href="">
					<div class="cover">
						<img src="{:asset('/static/img/48_1515480314924.jpg')}">
					</div>
				</a>
				<div class="mask"></div>
			</div>
			<div class="swiper-slide">
				<a class="link" href="">
					<div class="cover">
						<img src="{:asset('/static/img/49_1505108338728.jpg')}">
					</div>
				</a>
				<div class="mask"></div>
			</div>
			<div class="swiper-slide">
				<a class="link" href="">
					<div class="cover">
						<img src="{:asset('/static/img/50_1505470554957.jpg')}">
					</div>
				</a>
				<div class="mask"></div>
			</div>
			<div class="swiper-slide">
				<a class="link" href="">
					<div class="cover">
						<img src="{:asset('/static/img/51_1521609680481.jpg')}">
					</div>
				</a>
				<div class="mask"></div>
			</div>
		</div>
	    <div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
		
		<div class="swiper-pagination"></div>
	</div>
</div> -->
<div class="banner">
	<div class="list-container" style="margin-top: 0">
		<div class="">
			<img src="/static/img/banner.jpg" alt="" width="100%">
		</div>
	</div>


</div>

<div class="book-list">
	<!--重磅封推-->
	<div class="list-container clearfix">
		<div class="TITLE">
			<a href="#">
				<span>
					重磅封推
				</span>
			</a>
		</div>
		<div class="book-penl mt20">
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
		</div>
		<div class="recommend  mt20">
			<div class="title clearfix">
				红文榜
			</div>
			<ul class="recommendCon week nodis">
				<li class="text-overflow clearfix">
					<a href="#" target="_blank">
						<span class="fl">1</span>
						<div class="scal oh clearfix bookShadow fl" style="width: 48px; height: 64px;">
							<img class="fl" src="http://file.kanshu.com/upload/article/2032771/2032771s.jpg">
						</div>
						<div class="fl bookContent">
							<div class="bookName text-overflow">官途</div>
							<div class="bookType text-overflow">都市言情</div>
							<div class="bookAuthor clearfix text-overflow">梦入洪荒</div>
						</div>
					</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>2</span>完美盛宴</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>3</span>最强小厨师</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>4</span>透视之眼</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>5</span>逍遥小村医</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>6</span>透视神眼</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>7</span>春野小村医</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>8</span>女总裁的顶级高手</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>9</span>二号红人</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>10</span>极品兵王</a>
				</li>

			</ul>
		</div>

		<!-- <div class="controls">
				<a href="{:url(" HomeMaker ")}" class="btns">更多</a>
			</div> -->
	</div>

	<div class="banner-ad-img">
		<div class="row">
			<div class="ad-box">
				<a href="#">
					<img src="//qidian.qpic.cn/qidian_common/349573/7554404d056a375cce697ca8291c5a1d/0" alt="" width="100%" height="100%">
					<span class="op-tag"></span>
				</a>
			</div>
		</div>
	</div>
	<!--大神专区-->
	<div class="list-container clearfix">
		<div class="TITLE">
			<a href="#">
				<span>
					大神专区
				</span>
			</a>
		</div>
		<div class="book-penl mt20">
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
		</div>
		<div class="recommend  mt20">
			<div class="title clearfix">
				人气榜
			</div>
			<ul class="recommendCon week nodis">
				<li class="text-overflow clearfix">
					<a href="#" target="_blank">
						<span class="fl">1</span>
						<div class="scal oh clearfix bookShadow fl" style="width: 48px; height: 64px;">
							<img class="fl" src="http://file.kanshu.com/upload/article/2032771/2032771s.jpg">
						</div>
						<div class="fl bookContent">
							<div class="bookName text-overflow">官途</div>
							<div class="bookType text-overflow">都市言情</div>
							<div class="bookAuthor clearfix text-overflow">梦入洪荒</div>
						</div>
					</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>2</span>完美盛宴</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>3</span>最强小厨师</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>4</span>透视之眼</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>5</span>逍遥小村医</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>6</span>透视神眼</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>7</span>春野小村医</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>8</span>女总裁的顶级高手</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>9</span>二号红人</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>10</span>极品兵王</a>
				</li>

			</ul>
		</div>

		<!-- <div class="controls">
				<a href="{:url(" HomeMaker ")}" class="btns">更多</a>
			</div> -->
	</div>

	<!--长篇专区-->
	<div class="list-container clearfix">
		<div class="TITLE">
			<a href="#">
				<span>
					长篇专区
				</span>
			</a>
		</div>
		<div class="book-penl mt20">
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
		</div>
		<div class="recommend  mt20">
			<div class="title clearfix">
				收藏榜
			</div>
			<ul class="recommendCon week nodis">
				<li class="text-overflow clearfix">
					<a href="#" target="_blank">
						<span class="fl">1</span>
						<div class="scal oh clearfix bookShadow fl" style="width: 48px; height: 64px;">
							<img class="fl" src="http://file.kanshu.com/upload/article/2032771/2032771s.jpg">
						</div>
						<div class="fl bookContent">
							<div class="bookName text-overflow">官途</div>
							<div class="bookType text-overflow">都市言情</div>
							<div class="bookAuthor clearfix text-overflow">梦入洪荒</div>
						</div>
					</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>2</span>完美盛宴</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>3</span>最强小厨师</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>4</span>透视之眼</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>5</span>逍遥小村医</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>6</span>透视神眼</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>7</span>春野小村医</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>8</span>女总裁的顶级高手</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>9</span>二号红人</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>10</span>极品兵王</a>
				</li>

			</ul>
		</div>

		<!-- <div class="controls">
			<a href="{:url(" HomeMaker ")}" class="btns">更多</a>
		</div> -->
	</div>

	<!--短篇专区-->
	<div class="list-container clearfix">
		<div class="TITLE">
			<a href="#">
				<span>
					短篇专区
				</span>
			</a>
		</div>
		<div class="book-penl mt20">
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
		</div>
		<div class="recommend  mt20">
			<div class="title clearfix">
				完本榜
			</div>
			<ul class="recommendCon week nodis">
				<li class="text-overflow clearfix">
					<a href="#" target="_blank">
						<span class="fl">1</span>
						<div class="scal oh clearfix bookShadow fl" style="width: 48px; height: 64px;">
							<img class="fl" src="http://file.kanshu.com/upload/article/2032771/2032771s.jpg">
						</div>
						<div class="fl bookContent">
							<div class="bookName text-overflow">官途</div>
							<div class="bookType text-overflow">都市言情</div>
							<div class="bookAuthor clearfix text-overflow">梦入洪荒</div>
						</div>
					</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>2</span>完美盛宴</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>3</span>最强小厨师</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>4</span>透视之眼</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>5</span>逍遥小村医</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>6</span>透视神眼</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>7</span>春野小村医</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>8</span>女总裁的顶级高手</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>9</span>二号红人</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>10</span>极品兵王</a>
				</li>

			</ul>
		</div>

		<!-- <div class="controls">
				<a href="{:url(" HomeMaker ")}" class="btns">更多</a>
			</div> -->
	</div>

	<!--新书专区-->
	<div class="list-container clearfix">
		<div class="TITLE">
			<a href="#">
				<span>
					新书专区
				</span>
			</a>
		</div>
		<div class="book-penl mt20">
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
		</div>
		<div class="recommend  mt20">
			<div class="title clearfix">
				签约新书榜
			</div>
			<ul class="recommendCon week nodis">
				<li class="text-overflow clearfix">
					<a href="#" target="_blank">
						<span class="fl">1</span>
						<div class="scal oh clearfix bookShadow fl" style="width: 48px; height: 64px;">
							<img class="fl" src="http://file.kanshu.com/upload/article/2032771/2032771s.jpg">
						</div>
						<div class="fl bookContent">
							<div class="bookName text-overflow">官途</div>
							<div class="bookType text-overflow">都市言情</div>
							<div class="bookAuthor clearfix text-overflow">梦入洪荒</div>
						</div>
					</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>2</span>完美盛宴</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>3</span>最强小厨师</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>4</span>透视之眼</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>5</span>逍遥小村医</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>6</span>透视神眼</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>7</span>春野小村医</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>8</span>女总裁的顶级高手</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>9</span>二号红人</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>10</span>极品兵王</a>
				</li>

			</ul>
		</div>

		<!-- <div class="controls">
				<a href="{:url(" HomeMaker ")}" class="btns">更多</a>
			</div> -->
	</div>

	<!--免费专区-->
	<div class="list-container clearfix">
		<div class="TITLE">
			<a href="#">
				<span>
					免费专区
				</span>
			</a>
		</div>
		<div class="book-penl mt20">
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
			<div class="ri-list">
				<div class="img-box">
					<img src="http://img.nhshushu.com/book/cover/20180426/180369c6e6da3a12660d4079b40d25b4.png" alt="" width="100%" height="100%">
					<div class="ti">作者</div>
				</div>
				<div class="introduce">
					<div class="title">
						绝美总裁俏老婆
					</div>
					<div class="author clearfix">
						<span>武侠</span>
						<span>科幻</span>
						<span>修仙</span>
					</div>
				</div>
			</div>
		</div>
		<div class="recommend  mt20">
			<div class="title clearfix">
				免费榜
			</div>
			<ul class="recommendCon week nodis">
				<li class="text-overflow clearfix">
					<a href="#" target="_blank">
						<span class="fl">1</span>
						<div class="scal oh clearfix bookShadow fl" style="width: 48px; height: 64px;">
							<img class="fl" src="http://file.kanshu.com/upload/article/2032771/2032771s.jpg">
						</div>
						<div class="fl bookContent">
							<div class="bookName text-overflow">官途</div>
							<div class="bookType text-overflow">都市言情</div>
							<div class="bookAuthor clearfix text-overflow">梦入洪荒</div>
						</div>
					</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>2</span>完美盛宴</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>3</span>最强小厨师</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>4</span>透视之眼</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>5</span>逍遥小村医</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>6</span>透视神眼</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>7</span>春野小村医</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>8</span>女总裁的顶级高手</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>9</span>二号红人</a>
				</li>
				<li class="text-overflow">
					<a href="#" target="_blank">
						<span>10</span>极品兵王</a>
				</li>

			</ul>
		</div>

		<!-- <div class="controls">
				<a href="{:url(" HomeMaker ")}" class="btns">更多</a>
			</div> -->
	</div>
</div>



{/block} {block name="css"} {/block} {block name="js"} {/block}