{extend name="public:index" /}

{block name="main"}
<div class="ssgn" style="width:1160px;">
	<!--内容-->
	<div class="page-container">
		<article>
			<h2>伏天文学</h2>
			<p>伏天文学是一家专注于网文精品内容的原创网站，公司成员均具有丰富的网络文学从业经验，对网文畅销内容具有独到的见解，能够辅导作者创作出更优质的原创内容。</p>

			<h3>制作人模式</h3>
			<p>伏天文学摒弃传统网络文学签约编辑与责任编辑体系，针对网文精品内容的特点量身定制了一套：编辑作者联合策划-作者创作-编辑监制的制作人模式。</p>
			<p>制作人与作者共同参与作品的选题与剧情策划，同时制作人还将负责后续作品的质量把控及作品的精修，对作品进行全方位的包装与运营。</p>

			<h3>主创团队</h3>
			<p>我们的每位制作人主攻方向各具特色，当前制作人团队由多名资深编辑、资深运营组建而成。</p>

			<h3>内容发行</h3>
			<p>作品采用全平台发行策略，同步上架数十家新媒体平台、WEB及APP网文阅读平台，发行能力覆盖国内超过90%的网文传播渠道，最大化的曝光作品，提高销售收入。</p>
			
			<p>伏天文学成立于2018年9月，立志成为国内领先的网文精品内容平台。</p>
			
		</article>

	</div>
</div>
{/block}

{block name="css"}
	
{/block}

{block name="js"}

{/block}