
{extend name="public:index" /}

{block name="main"}
<div class="ssgn" style="width:1160px;">
	<!--内容-->
	<div class="page-container">
		<article>
			<h2>我们是谁：</h2>
			<p>今阅文化拥有业界顶尖制作团队，实力雄厚，是一家梦想与金钱并存的网站。</p>
			<p>我们有着强有力的渠道资源，无论是新媒体渠道、漫画改编、出版制作，还是有声制作、影视剧改编，都与国内各大网站平台，有着紧密合作。可以更大保障作者作品的利益与全方位运营，让你更出彩！</p>

			<h3>我们要什么稿子：</h3>
			<p>1、男频新媒体向稿子：都市情感、乡土风情、夜店生活、兵王保镖、异能透视等。中短篇字数：10—20万字；长篇字数：50万字以上，上不封顶！</p>
			<p>2、女频新媒体向稿子：总裁婚恋、夜店生活、鬼夫等。中短篇字数：10—20万字；长篇字数：50万字以上，上不封顶！</p>
			<p>3、悬疑灵异类稿子，盗墓探险、刑侦破案、悬疑惊悚、灵异怪谈等等，长篇短篇，我们都要！</p>
			<p>4、IP向稿子：主打漫画、影视等改编方向，长篇短篇都可以，只要脑洞够大，只要质量过硬，题材也都可以！不设限制，随意发挥！</p>
			
			<h3>签约模式：</h3>
			<p>1、纯分成：扣除渠道运营成本，作者和网站5:5分成。</p>
			<p>2、保底分成：每千字10—500元价格，超出保底则按照分成数据结算。</p>
			<p>3、买断：每千字15—1000元价格，每月按照交稿字数发放稿费。</p>


			<h3>投稿通道：</h3>
			<p>网站总编：（435651168）</p>
			<p>男频编辑：（）</p>
			<p>女频编辑：（）</p>
			<p>商务合作：（435651168）</p>
		</article>
	</div>
</div>
{/block}

{block name="css"}
	
{/block}

{block name="js"}

{/block}