 {extend name="public:index" /} {block name="main"}
<style>
	.tt {
		color: rgb(173, 23, 23);
		text-decoration: underline;
		font-style: italic;
	}

	.ttt {
		color: rgb(173, 23, 23);
		font-style: italic;
	}

	h2 {
		margin-bottom: 20px;
		margin-top: 40px;
	}
</style>
<div class="ssgn" style="width:1160px;">
	{include file="public:intro_head" /}
	<!--内容-->
	<div class="page-container">
		<article>
			<h1 style="text-align: center;margin-bottom: 40px;margin-top: -40px;">
				<i>今阅文化收稿啦！</i>
			</h1>
			<p style="text-indent:2em">今阅文化致力于发掘优秀潜力网络小说作品，打造精品网文平台，核心编辑团队涵盖业内包括内容、运营、商务等领域的尖端人才，以服务作者、培育精品为第一宗旨，每位编辑全年无周末，每天在线时间超过19小时，我们花时间做内容，花精力做运营，为合作小说作者创收。</p>
			<p style="text-indent:2em">我们有着强力的渠道资源，无论是新媒体渠道、漫画改编、出版制作，还是有声制作，影视剧改编，都与国内各大网站平台有着紧密合作。可以更大保障作者作品的利益与全方位运营，让你更出彩！</p>
			<h2>长篇约稿</h2>
			<p>主打新媒体向稿件，完本字数100万以上。</p>
			<p>收稿类型：</p>
			<p class="tt">男频：</p>
			<p>#情感婚恋、纪实情感、伪绿帽等纪实情感文。</p>
			<p>#办公室暧昧、夜场公关等纪实职业文。</p>
			<p>#第一人称青春文、社会文等纪实贴吧文。</p>
			<p>#无线向兵王校花总裁透视神医等文。</p>
			<p>#灵异悬疑（灵异不能有鬼，但是可以有志怪，魑魅魍魉一类）</p>
			<p class="tt">女频：</p>
			<p>#情感婚恋、总裁等现代文。</p>
			<p>#夜店生活等新媒体纪实文。</p>

			<h2>福利详情</h2>
			<h4 class="ttt">一、全勤奖</h4>
			<p>
				<b>奖励对象：</b>
				<u>今阅文化独家签约分成作品</u>
			</p>

			<p>
				<b>奖励细则：</b>
			</p>
			<p>经编辑审核，作品日更＞6000字，可享受千字3-500元全勤奖励。</p>

			<p>
				<b>特别说明：</b>
			</p>
			<p>1、全勤奖按自然月（如1月1日00：00：00至1月31日23：59：59）统计，每月全勤字数限制30万字内，日更新字数限制1万字内，次月与稿酬同时发放。</p>
			<p>2、因作品质量不佳（情节平淡、节奏感差、大面积灌水、严重违反相关规定如涉黄、涉政等）编辑部可要求作者完本。</p>
			<p>3、如遇以下情况：</p>
			<p>① 作品当日未更新；</p>
			<p>② 当日新增字数未达到6000字；</p>
			<p>③ 当日新增字数大面积灌水、严重违反相关规定如涉黄、涉政等；</p>

			<p>则按全勤价格分别扣除全勤奖金，计算公式为：6000(字)／1000 * 千字价格 * 3(天)，相当于当日相应基础福利（以6000字计算）的三倍。每日最多扣除1次，奖金余额扣到0为止。</p>

			<h4 class="ttt">二、保底签约计划</h4>
			<p>
				<b>签约对象：</b> 全网优秀作者</p>

			<p>
				<b>保底签约细则：</b>
			</p>
			<p>
				根据作品质量和更新稳定程度，提供千字10-500元保底价格。
			</p>

			<p>
				<b>特别说明：</b>
			</p>
			<p>1. 当作者在平台应得分成收入超过已支付的保底稿酬时，网站将超出部分以5：5分成支付给作者。（作者与网站各拿五成）</p>
			<p>2.作者需要准备以下材料，发送至网站公布的编辑邮箱进行投稿。</p>
			<p>（1）一份1W字正文加一份完整大纲。</p>
			<p>（2）意向保底价格，如税前千字50元。</p>
			<p>（3）若在他站有过较好成绩，可截图随邮件发送。</p>
			<h4 class="ttt">
				四、无线增值计划
			</h4>
			<p>
				<b>实施对象：</b>今阅文化独家签约分成作品</p>
			<p>
				<b>实施细则：</b>
			</p>
			<p>（1）凡与本站签约的分成作品，站内订阅与作者进行分成，比例为作者与今阅文化6:4分成。（作者拿六成，网站拿四成）</p>
			<p>（2）凡与本站签约的分成作品，站内读者道具打赏与作者进行分成，比例为作者与今阅文化6：4分成。（作者拿六成，网站拿四成）</p>
			<p>（3）在移动运营商以及第三方平台上架销售的作品，作者可获得签约作品在扣除运营成本后的60%收益，该收益以第三方运营商与本公司除去推广成本后，实际结算的收益为准，即为作者可获得60%净收益，网站获得40%净收益。</p>
			<h4 class="ttt">
				五、版权分成
			</h4>
			<p>
				<b>实施对象：</b>
				<u>今阅文化独家签约分成作品</u>
			</p>
			<p>
				<b>实施细则：</b>
			</p>
			<p>所有高质量、极具改编潜力的作品，今阅文化将重点打造，将内容优先推送给版权合作方，包括但不仅限于影视、漫画、出版、游戏等改编项目。对成功改编的作品，今阅文化将与作者进行去除成本后的分成，分成比例为作者与今阅文化6:4分成。（作者拿六成网站拿四成）</p>

			<h4 class="ttt">
				六、投稿方式（邮箱）

			</h4>
			<h3>责编夜神/七秒鱼：2022894572@qq.com
			</h3>
			<h3>
				责编昆仑：2062698176@qq.com

			</h3>
		</article>
	</div>
</div>
{/block} {block name="css"} {/block} {block name="js"} {/block}