{extend name="public:index" /}

{block name="main"}
<div class="container clearfix">
    <ul class="news-list">
        <li>
            <a class="title" href="#">新闻标题</a>
            <div class="conter">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae culpa corporis tenetur, quisquam, quos explicabo mollitia
                nisi sunt iste maiores, voluptatum vero rerum. Vero ipsam, ducimus nobis a enim nisi.
            </div>
            <p class="more">
                <a href="#">查看更多</a>
            </p>
        </li>
        <li>
            <a class="title" href="#">新闻标题</a>
            <div class="conter">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae culpa corporis tenetur, quisquam, quos explicabo mollitia
                nisi sunt iste maiores, voluptatum vero rerum. Vero ipsam, ducimus nobis a enim nisi.
            </div>
            <p class="more">
                <a href="#">查看更多</a>
            </p>
        </li>
        <li>
            <a class="title" href="#">新闻标题</a>
            <div class="conter">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae culpa corporis tenetur, quisquam, quos explicabo mollitia
                nisi sunt iste maiores, voluptatum vero rerum. Vero ipsam, ducimus nobis a enim nisi.
            </div>
            <p class="more">
                <a href="#">查看更多</a>
            </p>
        </li>
        <li>
            <a class="title" href="#">新闻标题</a>
            <div class="conter">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae culpa corporis tenetur, quisquam, quos explicabo mollitia
                nisi sunt iste maiores, voluptatum vero rerum. Vero ipsam, ducimus nobis a enim nisi.
            </div>
            <p class="more">
                <a href="#">查看更多</a>
            </p>
        </li>
        <li>
            <a class="title" href="#">新闻标题</a>
            <div class="conter">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae culpa corporis tenetur, quisquam, quos explicabo mollitia
                nisi sunt iste maiores, voluptatum vero rerum. Vero ipsam, ducimus nobis a enim nisi.
            </div>
            <p class="more">
                <a href="#">查看更多</a>
            </p>
        </li>
        <li>
            <a class="title" href="#">新闻标题</a>
            <div class="conter">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae culpa corporis tenetur, quisquam, quos explicabo mollitia
                nisi sunt iste maiores, voluptatum vero rerum. Vero ipsam, ducimus nobis a enim nisi.
            </div>
            <p class="more">
                <a href="#">查看更多</a>
            </p>
        </li>
        <li>
            <a class="title" href="#">新闻标题</a>
            <div class="conter">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae culpa corporis tenetur, quisquam, quos explicabo mollitia
                nisi sunt iste maiores, voluptatum vero rerum. Vero ipsam, ducimus nobis a enim nisi.
            </div>
            <p class="more">
                <a href="#">查看更多</a>
            </p>
        </li>
        <li>
            <a class="title" href="#">新闻标题</a>
            <div class="conter">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae culpa corporis tenetur, quisquam, quos explicabo mollitia
                nisi sunt iste maiores, voluptatum vero rerum. Vero ipsam, ducimus nobis a enim nisi.
            </div>
            <p class="more">
                <a href="#">查看更多</a>
            </p>
        </li>
    </ul>
    <div class="zpfy">
		<nav aria-label="Page navigation">
		</nav>
	</div>
</div>
{/block}

{block name="css"}

{/block}

{block name="js"}

{/block}